output_folder           ../results/Inception/Ascend
is_simulation           1


batch_size              256
input_H                 75
input_W                 75
num_threads             128
is_inception            1

nn_model_input_file     ../data/Inception/Inceptionv3.txt
orig_kernel_time_file   ../data/Inception/align_time.txt
pf_kernel_time_file     ../data/Inception/align_time.txt
input_pf_kernel_time_file ../data/Inception/align_time.txt
workspace_size_file       ../results/Inceptionv3/cudnn256Workspace.txt
stat_output_file        sim_result
is_UVM                  1
use_prefetch            1
eviction_policy         LRU


system_latency_us       25    


CPU_PCIe_bandwidth_GBps 16.0  
CPU_memory_line_GB      256   


GPU_memory_size_GB      40    
GPU_frequency_GHz       1.0   
GPU_PCIe_bandwidth_GBps 16.0  
GPU_malloc_uspB         0.0000005  
GPU_free_uspB           0


SSD_PCIe_bandwidth_GBps 6.0  
SSD_read_latency_us     8
SSD_write_latency_us    12
SSD_latency_us          15


PCIe_latency_us         3     
PCIe_batch_size_page    64    

delta_parameter         0.5


